<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  

<servlet>
    <servlet-name>Catalog</servlet-name>
    <servlet-class>Catalog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catalog</servlet-name>
    <url-pattern>/Catalog</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>Bag</servlet-name>
    <servlet-class>Bag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bag</servlet-name>
    <url-pattern>/Bag</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>Email</servlet-name>
    <servlet-class>Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>




</web-app>
